html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #1C1C1C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  margin-bottom: 40px; /* Add space below content container */
}

.MediaUpload {
  margin-bottom: 20px;
}

.HandleLink {
  width: 100%;
}

.main-header {
  color: #1d6aee;
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
}

h2 {
  margin: 20px 0;
}

/* Adjust margin-top to push progress cards down */
.progress-cards-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

h2.main-product-result {
  margin-top: 60px; /* Add more space above this h2 */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.main-header {
  color: #61dafb; /* Example color */
  text-shadow: 2px 2px 5px rgb(255, 0, 0);
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem; /* Adjust the font size if needed */
  font-family: 'Roboto', sans-serif; /* Example font family */
}
.App-header {
  background-color: #72819f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: orange;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App-link {
  color: #61dafb;
}
