html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #1C1C1C;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 20px;
  box-sizing: border-box;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  justify-content: center;
}

.content-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin-bottom: 80px;
  position: relative;
}

.snipping-tool-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.video-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
  margin-bottom: 20px; /* Ensure there's space below the video */
}

.box-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button-container {
  align-self: flex-end;
  margin-right: 20px;
}

.screenshot-button {
  padding: 10px 20px;
  background-color: #EE1D52;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.screenshot-button:hover {
  background-color: #ff4066;
}

.main-header {
  color: #1d6aee;
  text-align: center;
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-family: 'Roboto', sans-serif;
  text-shadow: #EE1D52;
}

h2 {
  margin: 40px 0;
  color: white;
}

.main-product-result {
  margin-top: 300px;
}

.image-and-cards-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  width: 100%;
  text-align: center;
  margin-bottom: 40px;
}

.revealing-image {
  width: 100%;
  height: auto;
  opacity: 1;
  clip-path: inset(0% 0% 0% 0%);
  transition: opacity 0.5s ease-out, clip-path 0.5s ease-out;
  margin-top: 40px;
  margin-bottom: 40px;
}

.other-products {
  text-align: center;
}

.progress-cards-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 20px;
}

.screenshot-container {
  margin-top: 20px;
  text-align: center;
}

.screenshot-container img {
  max-width: 100%;
  height: auto;
  border: 2px solid #61dafb;
  border-radius: 5px;
}

.selection-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.25);
  cursor: crosshair;
  z-index: 1000;
}

.selection-box {
  position: absolute;
  border: 2px dashed #000000;
  background: rgba(228, 233, 234, 0);
  z-index: 1001;
}

.App-logo {
  height: 40vmin;
}

.start-over-button {
  padding: 10px 20px;
  background-color: #1d6aee;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
}

.start-over-button:hover {
  background-color: #3b8ad9;
}
