.HandleLinkContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease-in-out;
}

.HandleLink {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50vw;  /* Responsive width */
    max-width: 500px;  /* Maximum width */
    padding: 20px;
    box-sizing: border-box;
    margin: -200px 20px;  /* Center the container */
    border-radius: 10px; /* Add border radius for better visual effect */
    transition: transform 0.3s, box-shadow 0.3s; /* Transition properties */
    font-family: 'Roboto', sans-serif; /* Set font family */
    font-weight: 400; /* Normal weight for the whole container */
    z-index: 10; /* Ensure this is on top */
}

.uploadedLinkContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    transition: transform 0.3s ease-in-out;
}

.uploadedLinkContainer .video-container {
    width: 100%;
    margin-top: 20px;
}

.uploadedLinkContainer .video-container iframe {
    width: 100%;
    height: 400px;
    border-radius: 10px;
}

.HandleLink input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.HandleLink button {
    padding: 10px 20px;
    background-color: #fd1398;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    display: block; /* Ensure the button is block-level */
    margin: 0 auto; /* Center the button horizontally */
}

.HandleLink button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.HandleLink .error {
    color: red;
    margin-top: 10px;
}
