.MediaUpload {
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content:baseline;
    width: 80vw;  /* Responsive width */
    max-width: 300px;  /* Maximum width */
    height: calc(80vw * 4 / 3); /* Maintain 3:4 aspect ratio */
    max-height: 400px; /* Maximum height */
    background-color: #69696996;
    padding: 20px;
    box-sizing: border-box;
    margin: auto;  /* Center the container */
    border-radius: 10px; /* Add border radius for better visual effect */
    box-shadow: 0 0 15px 5px rgba(105, 201, 208, 0.6); /* Initial shadow */
    transition: transform 0.3s, box-shadow 0.3s; /* Transition properties */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    z-index: 1; /* Ensure this is below HandleLink */
}

.video-container {
    width: 100%;
    margin-top: 20px;
}

.video-container video {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.error {
    color: red;
    margin-top: 10px;
}

.MediaUpload:hover {
    transform: scale(1.05); /* Slightly scale up the element */
    box-shadow: 0 0 25px 10px rgba(105, 201, 208, 0.8); /* Intensify the shadow */
}

@media (min-width: 300px) {
    .MediaUpload {
        width: 300px;
        height: 400px;
    }
}

.MediaUpload h1 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    font-weight: 2;
    color: #ffffff;
    text-shadow: none;
    font-display: unset;
}

.MediaUpload form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.MediaUpload input[type="file"] {
    border: 1px solid #bcadad;
    padding: 5px;
    border-radius: 5px;
}

.MediaUpload button {
    padding: 10px 20px;
    background-color: #69C9D0;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

.MediaUpload button:hover {
    background-color: #EE1D52;
}

.MediaUpload progress {
    width: 100%;
    height: 20px;
}

.MediaUpload img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
}

.MediaUpload p {
    color: red;
    font-size: 1rem;
    text-shadow: none;
}
